aiohttp==3.8.5
beautifulsoup4==4.13.2
cloudscraper==1.2.66
fake-useragent==1.2.0
httpx==0.24.0
mechanize==0.4.8
pycurl==7.45.2
requests==2.31.0
selenium==4.12.0
tls-client==1.2.3
urllib3==2.1.0
